* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}



/* Navbar CSS code start*/

nav {
    width: 100%;
    height: 90px;
    background-color: #f7f1ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 60px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    position: fixed;
    top: 0;
}

.logo_img {
    height: 5em;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 1.6rem;
    font-size: 1.1rem;
}

.mobile_menu_icon img {
    cursor: pointer;
    height: 35px;
}

.s_link {
    display: flex;
    align-items: center;
}

.s_link img {
    cursor: pointer;
    margin: 7px;
}

@media (max-width:800px) {

    .menu,
    .s_link img {
        display: none;
    }

    .mobile_menu_icon {
        display: flex;
        align-items: center;
    }

}

@media (min-width:800px) {
    .mobile_menu_icon img {
        display: none;
    }
}

/* Navbar CSS code ends */


/* Hero section css start */

.hero_section {
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/bg-8.jpg);
    background-size: cover;
    background-position: 100% 40%;
    position: relative;
}


.hero_heading {
    color: white;
    position: absolute;
    top: 35%;
    margin-left: 2rem;
}

.title {
    font-size: 4rem;
    letter-spacing: .07rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.title_following {
    margin-bottom: 1rem;

}

.start_btn {
    margin-top: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 13px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #fdcb0a;
    color: black;

    transition: background-color .4s;

}

.start_btn:hover {
    background-color: #691971;
    color: white;
}

@media (max-width:800px) {


    .hero_section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(images/bg-8.jpg);

        height: 85vh;
    }

    .hero_heading {
        top: 30%;
        margin-left: 1rem;
    }

    .title {
        font-size: 2.5em;
    }

}

/* Hero section css ends */



/* choose us css start here */


.choose_us>h1 {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.choose-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.container-info h2 {
    margin-bottom: 16px;
}

.container-img img {
    width: 4rem;
}


.container1,
.container2,
.container3 {

    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    text-align: center;
    line-height: 27px;
    border: 1px solid purple;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}


.container1:hover,
.container2:hover,
.container3:hover {
    border: none;
    box-shadow: 0 0 11px rgba(33,33,33,.2);
}



/* Choose us css ends here */



/* About Us css code starts here */


.about-us {
    margin-top: 30px;

}

.about-us-container {
    display: flex;
    width: 100%;
    height: 60vh;
}

.img-subinformation h1 {
    margin-top: 20px;
    font-size: 35px;
}

.item-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-container {
    background-color: #f7f1ff;
    flex: .3;

}

.img-container img {
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.information-container {
    padding: 30px;
    flex: .6;
    justify-content: center;
    line-height: 25px;
    overflow: hidden;
    background-color: #691971;
    color: white;
}

.information-container h1 {
    font-size: 35px;
    margin-bottom: 50px;
}

.information-container p {
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1px;
}

.side-img {
    background: url(images/dmitrii-vaccinium-9qsK2QHidmg-unsplash.jpg);
    background-size: cover;
    background-position: 30%;
    flex: .1;
}



@media (max-width:1024px) {
    .about-us-container {
        flex-direction: column;
        height: 100%;
    }


    .img-subinformation {
        display: none;
    }

    .side-img {
        display: none;
    }

    .information-container h1 {
        line-height: 45px;
    }

}


/* About us css code ends here */


/* Featured bike css code start here */

.feature_bikes h1 {
    font-size: 35px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}





.container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}


.product_container {
    width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    cursor: pointer;
    box-shadow: 5px 10px 24px 1px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s;
}

.product_container a {
    text-decoration: none;
}

.product_container:hover {
    background-color: #F2F4FB;
    transform: scale(1.1);

}

.product_img {
    border-radius: 10px;
    background-color: #F2F4FB;
    margin-bottom: 10px;
}

.product_img img {
    height: 300px;
    width: 100%;
    object-fit: cover;

}

.product_details {
    text-align: center;
}

.product_details h3 {
    margin-bottom: 10px;
}


/* Gallery grid css code start */

.gallery {
    background-color: #f7f1ff;
    padding: 30px 30px 100px 30px;

    margin-top: 40px;
    margin-bottom: 50px;
}

.gallery h1 {
    letter-spacing: 7px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
}

.gallery h1 span {
    font-weight: 600;
}

.gallery-container {
    display: grid;
    height: 80vh;
    width: 80vw;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;

    }

    .item1 {
        grid-row: span 2;
    }

    .item2 {
        grid-column: span 2;
    }
}

/* Responsive layout for mobile phones */
@media screen and (max-width: 768px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .item2 {
        grid-column: span 1;
    }

    .item3 {
        grid-row: span 2;
    }

    .item5 {
        grid-row: span 4;
    }

    .item7 {
        grid-row: span 2;
    }

    .item8 {
        grid-row: span 2;
    }
}




.item {
    border-radius: 7px;
    transition: background-color 0.5s;

}

.item:hover {
    background-color: #999;

}

.item1 {

    background: url(images/dmitrii-vaccinium-9qsK2QHidmg-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: #494949;
    background-blend-mode: hard-light;

}

.item2 {
    background: url(images/bannon-morrissy-OKaneXYC46k-unsplash.jpg);
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    background-color: #494949;
    background-blend-mode: hard-light;
}

.item3 {
    background: url(images/coen-van-de-broek-k8GaGXlCNB8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    grid-column: span 2;
    background-color: #494949;
    background-blend-mode: hard-light;
}



.item4 {
    background: url(images/martin-magnemyr-pYqGx8isV0g-unsplash.jpg);
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    background-color: #494949;
    background-blend-mode: hard-light;
}

.item5 {
    background: url(images/munbaik-cycling-clothing-Ln9uvGy5Yio-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: #494949;
    background-blend-mode: hard-light;
}

.item6 {
    background: url(images/polina-rytova-CsAHZVYzpZo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    grid-row: span 2;
    background-color: #494949;
    background-blend-mode: hard-light;
}

.item7 {
    background: url(images/thomas-schweighofer-n13ABwV-Pic-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: #494949;
    background-blend-mode: hard-light;
}

.item8 {
    background: url(images/viktor-bystrov-7PPeoniUapQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-color: #494949;
    background-blend-mode: hard-light;
}



/* Gallery grid css code ends here */


/* Footer css code starts here */

.footer {

    position: relative;

    background-color: #f7f1ff;

}

.footer-container {

    padding-top: 150px;
    display: flex;
    width: 80%;
    margin: auto;


}

.contact-us {
    display: flex;
    justify-content: center;

}

.contact-us-container {

    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: #691971;
    color: white;
    padding: 70px 30px 70px 30px;

    border-radius: 20px;
    position: absolute;
    top: -18%;
    z-index: 1;

}

.contact-us-heading {
    font-size: 20px;
    line-height: 35px;
}


.contact-us-button button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    padding: 12px;
    background-color: #fdcb0a;
    color: white;
    font-weight: bolder;
}

.contact-us-button button:hover {
    background-color: rgb(233, 192, 45);
}

.footer-info-flex {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-logo {
    width: 30%;
}

.footer-logo>img {
    width: 70%;

}

ul {
    padding: 0;
}
ul a{
    text-decoration: none;
}

.footer-info h3 {
    color: #78528c;
    margin-bottom: 23px;
}

ul li {
    list-style: none;
    line-height: 55px;
    cursor: pointer;
}

ul li:hover {
    color: #a0258f;
}

.footer-social-img img {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    padding-right: 4px;
}

.footer-contact-info {
    line-height: 30px;
}

.footer-phone,
.footer-address,
.footer-email {
    margin-bottom: 23px;
}

.footer-contact-subinfo {
    letter-spacing: 2px;
    color: #a0258f;
    font-size: 21px;
}

.footer-copyright {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width:1080px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-info-flex {
        width: 100%;
        justify-content: space-between;
    }

    .footer-logo {
        margin-bottom: 20px;
    }
}

@media (max-width:768px) {
    .footer-info-flex {
        flex-direction: column;
        text-align: center;
    }

    ul {
        margin-bottom: 20px;
    }

    ul li {
        line-height: 40px;
    }

    .footer-info h3 {
        margin-bottom: 13px;
    }

    .footer-logo {
        width: 100%;
        text-align: center;
    }

    .footer-logo>img {
        width: 190px;
    }


}

@media (max-width:768px) {
    .contact-us-container {
        flex-direction: column;
        padding: 30px 20px 30px 20px;
        top: -12%;
    }

    .contact-us-button {
        margin-top: 20px;
    }
}

@media (max-width:370px) {
    .footer-container {
        padding-top: 200px;
    }

}

/* Footer css code ends here */